<header id="header-element" class="d-flex flex-column-reverse flex-md-row justify-content-start justify-content-md-between container align-items-center my-3">
    <div class="logo-container">
        <img src="images/bs-logo.svg" alt="BlueSpring Logo">
    </div>
    <div class="contact-container d-flex flex-row justify-content-between align-items-center">
        <div id="contact-button" data-scroll-target="contact-container" class="cta d-flex align-items-center justify-content-center white-text">CONTACT US<i class="fal fa-chevron-down cta-chev" aria-hidden="true"></i></div>
        <div class="ml-2 phone-number">1-888-123-4567</div>
    </div>
</header>