<header class="d-flex flex-column-reverse flex-md-row justify-content-start justify-content-md-between container align-items-center mb-3">
    <div>
        <img src="images/bs-logo.svg" alt="BlueSpring Logo">
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="cta d-flex align-items-center justify-content-center white-text">CONTACT US<i class="fal fa-chevron-down cta-chev" aria-hidden="true"></i></div>
        <div class="ml-2">1-888-123-4567</div>
    </div>
</header>