{{> header }}
<section class="hero text-center">
    <div id="hero-image-element" class="hero-image-container m-auto">
        <h1 class="p-5 hero-heading d-flex align-items-center justify-content-center">Your Legacy Matters</h1>
        <img class="hero-image" src="images/happyoffice.jpg" alt="hero-image">
    </div>
    <div id="chevron-element" class="chev-down white-text pt-2 pb-5">
        <i id="body-chev" data-scroll-target="body-chev" class="fal fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div class="hero-blue-box pb-5 mb-5">
        <div class="container narrow-content">
            <p class='hero-copy white-text'>
                At BlueSpring Wealth Partners, we understand the hard work and passion of entrepreneurs. For this reason, we
                take a relationship-based approach to investing in or purchasing your business. By focusing on partnership as
                the driver of success, we help you ensure a lasting legacy while preserving the core values on which you’ve
                built your business.
            </p>
        </div>
    </div>
</section>
<section id="main-content-container" class="container narrow-content">
    <h2 class="blue-text text-center mb-0 mb-md-5">A Framework for the Future</h2>
    <div class="media mb-0 mb-md-5 align-items-center flex-column flex-md-row">
        <div class="scroll-fade-target my-5 my-md-0 mr-md-5" data-image-src="images/brief.svg">
            {{> brief_svg}}
        </div>
        <div class="media-body scroll-fade-target">
            <h4 class="blue-text">SUCCESSION PLANNING</h4>
            <p>We are the only firm that will find, train, and properly incentivize successors. Best of all, once the
                right successor is identified, they will be enrolled in BlueSpring Wealth Partners’ Successor Academy—a
                one-of-a-kind program designed to give the training, support, and mentoring a successor needs to be able
                to manage and run a firm, ensuring your legacy lives on and your clients and staff are well taken care
                of.</p>
        </div>
    </div>
    <div class="media mb-0 mb-md-5 align-items-center flex-column flex-md-row-reverse">
        <div class="scroll-fade-target my-5 my-md-0 ml-md-5" data-image-src="images/chat.svg">
            {{> chat_svg}}
        </div>
        <div class="media-body scroll-fade-target">
            <h4 class="blue-text">FLEXIBLE AND CUSTOMIZABLE OWNERSHIP ARRANGEMENTS</h4>
            <p>This is not a one-size-fits-all approach. We work with you to design a transition and succession plan
                that meets your needs. Whether a full or a partial acquisition, we are focused on your goals and
                objectives—not ours.</p>
        </div>
    </div>
    <div class="media mb-0 mb-md-5 align-items-center flex-column flex-md-row">
        <div class="scroll-fade-target my-5 my-md-0 mr-md-5" data-image-src="images/money-grow.svg">
            {{> money_grow_svg}}
        </div>
        <div class="media-body scroll-fade-target">
            <h4 class="blue-text">CAPITAL PARTNER</h4>
            <p>If you want to accelerate your growth, we provide the capital and expertise for growth through
                sub-acquisitions that fit your firm, your culture, and your market.</p>
        </div>
    </div>
    <div class="media mb-5 align-items-center flex-column flex-md-row-reverse">
        <div class="scroll-fade-target my-5 my-md-0 ml-md-5" data-image-src="images/doc-check.svg">
            {{> doc_check_svg}}
        </div>
        <div class="media-body scroll-fade-target">
            <h4 class="blue-text">EARN-OUT OPTIMIZATION PROGRAM</h4>
            <p>You want to achieve the highest possible earn-out, and we’ll analyze key areas to help you get there.
                Uncovering growth opportunities and cost savings in the areas of technology, operations, and marketing
                will create efficiencies and economies of scale so you can spend time doing what you love while
                optimizing the value of your firm for you and your heirs.</p>
        </div>
    </div>
    <div class="content-footer mb-5">
        <p class="text-center content-footer-copy">We are succession experts with a long history of investment and entrepreneurship. As your partner, we’re committed to creating what’s next, while preserving the core values on which you’ve built your business.</p>
    </div>
</section>
<section>
    <div class="blue-background py-5">
        <div class="container text-center">
            <img class="mb-2" src="images/swirligig.svg" alt="">
            <h3 class="white-text text-center">Safeguarding Your Clients and the Business You’ve Built</h3>
        </div>
    </div>
    <div id="contact-container" class="container">this div intentionally left blank for future contact form</div>
</section>
{{> footer }}