@import "mixins/bootstrap_mixins.scss";

* {
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
}

header {
  max-width: 1200px !important;
}

h2 {
  font-size: 45px;
  line-height: 36px;
  font-weight: bold;
}
h3 {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
}

.contact-container {
  @include respond-below(sm) {
    width: 100vw;
    padding: 1em;
    top: -80px;

    &.scroll-past-nav {
      position: fixed;
    }
    background: white;
    z-index: 10;
    .cta {
      font-size: 15px;
      font-weight: 600;
    }
    .phone-number {
      font-size: 17px;
      font-weight: 900;
    }
  }
}

.logo-container {
  @include respond-below(sm) {
    width: 100%;
    &.scroll-past-nav {
      margin-top: 61px;
    }
    img {
      width: 100%;
    }
  }
}

.hero-image-container {
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  .hero-heading {
    position: absolute;
    height: 100%;
    max-width: 425px;
    z-index: 1;
    font-size: 57px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 0px 10px 10px rgba(255, 255, 255, 0.5);
    transition: all 300ms;
    @include respond-below(md) {
      box-shadow: 10px 0px 10px 10px rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
      width: 100%;
      font-size: 45px;
      font-weight: 400;
      max-width: 100%;
      height: auto;
    }
  }
  .hero-image {
    // min-height: 530px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }
}

.hero-blue-box {
  background-color: #0077cc;
  position: relative;
  padding-top: 8em;
  margin-top: -8em;
  z-index: -1;
}

.media-body {
  p {
    font-size: 16px;
    line-height: 36px;
    @include respond-below(sm) {
      line-height: 26px;
    }
  }
  h4 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.25px;
    font-weight: bold;
    @include respond-below(md) {
      font-size: 23px;
      line-height: 29px;
    }
  }
}
.content-footer {
  .content-footer-copy {
    color: #0077cc;
    font-size: 19px;
    font-weight: bold;
  }
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #0077cc;
}

.blue-background {
  background-color: #0077cc;
}

footer {
  background-color: #bcd1dc;
}

.cta {
  background-color: #0077cc;
  width: 200px;
  height: 45px;
}
.cta-chev {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .narrow-content {
    max-width: 720px;
  }
}

.scroll-fade-target {
  position: relative;
}
